@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$hue: 600;
$colour1: hsl($hue, 17%, 98%);
$colour2: hsl($hue, 16%, 93%);
$colour3: hsl($hue, 14%, 89%);
$colour4: hsl($hue, 14%, 83%);
$colour5: hsl($hue, 11%, 71%);
$colour6: hsl($hue, 7%, 46%);
$colour7: hsl($hue, 9%, 31%);
$colour8: hsl($hue, 10%, 23%);
$colour9: hsl($hue, 11%, 15%);

@function set-color($colour) {
  @if (lightness($colour) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

:root {
  --color-white: #fff;
  --body-font: 'Quicksand', sans-serif;
  --success-bg-color: #c1d5ba;
  --success-color: #3d642f;
  --error-bg-color: #d5baba;
  --error-color: #642f2f;

  --colorized-width: 142px;
  --colorized-height: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: var(--body-font);
  font-weight: 600;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: $colour9;
  transition: all .2s ease;
  &:hover{
    color: $colour8;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto; 
}

ul:not(class), ol:not(class) {
  list-style-type: none;
}

.item_button {
  background-color: $colour9;
  color: $colour1;
  padding: .4rem .8rem;
  border-radius: 2px;
  font-size: 0.8rem;
  display: inline-flex;
  &:hover {
    background-color: $colour8;
  }
}

.app{
  max-width: 900px;
  margin: 2rem auto;
}

.br {
  padding-top: 1rem; 
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.alert {
  padding: 0.2rem 1rem;
  margin: 1rem 0 0;
}
.alert.default {
  background-color: #eee;
}
.alert.warning {
  background-color: #ecd5d5;
}
.alert.danger {
  background-color: #ecdfd5;
}
.alert.success {
  background-color: #d7ecd5;
}

form {
  position: relative;
  input,
  textarea,
  select {
    font-family: var(--body-font);
    background: $colour3;
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
  }
  button {
    font-family: var(--body-font);
    text-transform: uppercase;
    background: $colour9;
    border: 0;
    padding: 15px;
    color: $colour1;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover{
      background: $colour8;
    }
  }
}


table {  
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid $colour6;
  margin-bottom: 2rem;
  tr {
    border-bottom: 1px solid $colour2;
    &:nth-child(2n+2) {
      background-color: $colour7;
    }
  }
  th:first-child,
  td:first-child {
    padding-left: 16px;
  }
  td,
  th {
    padding: 8px 8px;
    text-align: left;
    vertical-align: middle;
  }
  tfoot {
    tr {
      background-color: $colour8;
    }
  }
  thead {
    background-color: $colour7;
    color: $colour2;
  }
}

.loading {
  opacity: 0.5;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 30px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border: 4px dashed $colour9;
    animation: spin 2s linear infinite;
    border-radius: 50%;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.colorized {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  span {
    width: var(--colorized-width);
    height: var(--colorized-height);
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(1){
      background-color: $colour1;
      color: set-color( $colour1 );
    }
    &:nth-child(2){
      background-color: $colour2;
      color: set-color( $colour2 );
    }
    &:nth-child(3){
      background-color: $colour3;
      color: set-color( $colour3 );
    }
    &:nth-child(4){
      background-color: $colour4;
      color: set-color( $colour4 );
    }
    &:nth-child(5){
      background-color: $colour5;
      color: set-color( $colour5 );
    }
    &:nth-child(6){
      background-color: $colour6;
      color: set-color( $colour6 );
    }
    &:nth-child(7){
      background-color: $colour7;
      color: set-color( $colour7 );
    }
    &:nth-child(8){
      background-color: $colour8;
      color: set-color( $colour8 );
    }
    &:nth-child(9){
      background-color: $colour9;
      color: set-color( $colour9 );
    }
  }
}